    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/Stylesheets/about.css">
    </head>

    <body>
        <div class="container">
            
                <h1>Our <%=Team %></h1>
                <div class="row">
                    <div class="card" style="--bc: #8E9792;--btn: #8E9792;">
                        <img src="https://i.ibb.co/dK3Z1LC/1-XMKyvw-IXm-I7.jpg" alt="*">
                        <h2>Dildar</h2>
                        <p class="role">Creative Leader</p>
                        <p>dildar<%=Team%>@mail.com</p>
                        <a href="tel:+880123456789">Call</a>
                    </div>
                    <div class="card" style="--bc: #C89F9C;--btn: #C89F9C;">
                        <img src="https://i.ibb.co/zb85xJn/2144735x-Tx-FT0v-G.jpg" alt="*">
                        <h2>Misha</h2>
                        <p class="role">Sales Manager</p>
                        <p>misha@mail.com</p>
                        <a href="tel:+880123456789">Call</a>
                    </div>
                    <div class="card" style="--bc: #15307D;--btn: #15307D;">
                        <img src="https://i.ibb.co/cb9FPPw/2144934-Gz-Znk-I7-L.jpg" alt="*">
                        <h2>Dipjol</h2>
                        <p class="role">Web Developer</p>
                        <p>dipjol@mail.com</p>
                        <a href="tel:+880123456789">Call</a>
                    </div>
                </div>
        </div>
    </body>

    </html>