.action-container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.action {
  background-image: url("https://george-fx.github.io/mikkee/img/action-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 967px;
  width: 100%;
  position: relative;
}
.action__days {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.action__hours {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  position: relative;
}
.action__hours::after {
  content: ":";
  position: absolute;
  top: -14px;
  right: -20px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 44px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
}
.action__minutes {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  position: relative;
}
.action__minutes::after {
  content: ":";
  position: absolute;
  top: -14px;
  right: -20px;
  color: #6ea753;
  font-family: Poppins;
  font-size: 44px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 66px;
  text-align: left;
}
.action__sec {
  display: flex;
  flex-direction: column;
}
.action__date {
  color: #ffffff;
  font-family: Poppins;
  font-size: 44px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 44px;
  text-align: center;
}
.action__date-modify {
  color: #6ea753;
}
.action__date-1 {
  color: #b6a0a0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27.2px;
  text-align: center;
  text-transform: capitalize;
}
.action__counter {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.action__coffee-img {
  position: absolute;
  bottom: 0;
  right: 51px;
  max-width: 100%;
  margin-bottom: 18px;
}
.action__coffee-decor {
  position: absolute;
  top: -105px;
  right: 83px;
}
.action__title {
  max-width: 563px;
  width: 100%;
  color: #ffffff;
  font-family: Federo;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 55px;
  text-align: left;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.action__wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 15px;
}
.action__desc {
  max-width: 556px;
  width: 100%;
  color: #b6a0a0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27.2px;
  text-align: left;
  /* Text style for "unde omnis" */
  color: #b6a0a0;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27.2px;
  margin-bottom: 41px;
}
.action__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.action__btn {
  color: #ffffff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: #b27944;
  padding: 20px 41px;
  display: inline-block;
}
.action__form {
  max-width: 555px;
  width: 100%;
  margin-bottom: 20px;
}
.action__textarea {
  max-width: 555px;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: #231e21;
  border: none;
  outline: none;
  padding: 12px 20px;
  resize: none;
  /* Style for "Comment" */
  color: #b6a0a0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 23.8px;
  text-align: left;
}
.action__textarea::placeholder {
  opacity: 0.6;
  color: #b6a0a0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 23.8px;
  text-align: left;
}
.action__input {
  max-width: 267px;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  background-color: #231e21;
  border: none;
  outline: none;
  padding: 12px 20px;
  /* Style for "Name *" */
  color: #b6a0a0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 23.8px;
  text-align: left;
}
.action__input::placeholder {
  opacity: 0.6;
  color: #b6a0a0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 23.8px;
  text-align: left;
}
.action__input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}